{% extends "base.html" %}

{% block content %}
{% csrf_token %}


<div class="card mb-3">
    <div class="card-header">
        Löschung bestätigen
    </div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            <p>Bist du sicher, dass du "{{ object }}" löschen möchtest?</p>
            <input type="submit" value="Löschen" class="btn btn-primary">
            <button type="submit" class="btn btn-secondary" onclick="history.back()">Abbrechen</button>
        </form>
    </div>
</div>

{% endblock %}