{% extends 'web/layout.html' %}
{% load static %}
{% block content %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="{% static 'web/img/logo.png' %}" width="50px" alt="Logo" style="margin-right: 10px;">Riotcat.org</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav ml-auto my-2 my-lg-0" role="tablist" id="menu">
                        <li class="nav-item"><a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a></li>
                        <li class="nav-item"><a class="nav-link" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="false">Blog <span class="badge badge-pill badge-dark">{{ count_new_blogs }}</span></a></li>
                        <li class="nav-item"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#privacy-policy" role="tab" aria-controls="privacy-policy" aria-selected="false">Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" role="tabpanel" aria-labelledby="services-tab" id="services">
                <section class="service">
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'web/img/logo.png' %}" alt="Logo" style="width: 90%; margin-bottom: 30px;">
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        {% for service in service_list %}
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#modal-{{ service.id }}" style="font-size: 25px; border-radius: 10px; width: 90%; margin-bottom: 25px;">{{ service.title }}</button>
                                                <br />
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane text-left" role="tabpanel" aria-labelledby="blog-tab" id="blog">
                <section class="page-section">
                    <div class="container">
                        <h2>Blog</h2>
                        <div class="row">
                            <div class="col">
                                {% for blogentry in blog_list %}
                                <div style="border: solid #f7f7f9; padding: 5px; margin-bottom: 20px;">
                                    <div class="media">
                                        <i class="mr-3 fa fa-heart" aria-hidden="true" style="font-size: 48px; margin: 7px;"></i>
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ blogentry.title }}</h5>
                                            <p>{{ blogentry.body|safe }}</p> <!--|safe|linebreaksbr|urlize-->
                                            <p class="text-right">- {{ blogentry.author }} {{ blogentry.pub_date|date:"d.m.Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                </section>
            </div>
            <div class="tab-pane text-left" role="tabpanel" aria-labelledby="blog-tab" id="contact">
                <section class="page-section">
                    <div class="container">
                        <h2>About</h2>
                        In the project <a href="/">Riotcat.org</a>, we are trying to provide various open-source web services and applications to enable friends to interact. In addition to the existing projects, we are also writing our own programs or plugins. The blog will provide information on current news or interesting information about servers, open-source and so on.<br />
                        Services are only accessible to a limited number of people due to limited resources.<br /> 
                        <br />
                        <h2>Contact</h2>
                        I welcome any feedback you may have regarding the provided services and am open to any problems you may encounter.<br />
                        <br />
                        <table class="table table-striped">
                            <thead>
                                <th>Via</th>
                                <th>Address</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mail</td>
                                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a> (<a href="/static/jonny@riotcat.org_pubkey.asc">PGP</a>)</td>
                                </tr>                                
                                <tr>
                                    <td>Matrix</td>
                                    <td><a href="https://matrix.riotcat.org/#/{{ contact.matrix }}" target="_blank">{{ contact.matrix }}</a> or join <a href="https://matrix.riotcat.org/#/#support:matrix.riotcat.org" target="_blank" >#support:matrix.riotcat.org</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="tab-pane text-left" role="tabpanel" aria-labelledby="privacy-policy-tab" id="privacy-policy">
                <section class="page-section">
                    <div class="container">
                        <h2>Privacy Policy</h2>
                        <p>In this document we want to describe what data is processed and stored on <a href="https://riotcat.org">riotcat.org</a> and what its purpose is.</p>
                        <p>If you have any further questions or problems, please feel free to contact us. You can find our contact details <a id="privacy-policy-contact-link" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">here</a> or write an email to <a href="mailto:info@riotcat.org">info@riotcat.org</a>.</p>

                        <h3>Information Used</h3>
                        <p>Our goal is to store and use only necessary information, and to store it only for the period of time needed.</p>
                        <p>On <a href="https://riotcat.org">Riotcat.org</a>, we do not use cookies.</p>
                        <p>For maintenance reasons, <strong>logfiles</strong> are generated when you connect to our website.</p>
                        <p>The logfile contains: an anonymized IP address (the last number is always set to 0, e.g. 78.46.95.0), a timestamp, requested resource, http referrer URL, byte size of the response, and the HTTP status code.</p>
                        <p>After 2 days, the log files are automatically deleted.</p>
                        <p>Temporary exceptions are possible to secure our services against attacks and for debugging purposes.</p>

                        <h3>Connection (TLS) and encryption</h3>
                        <p>We enforce a secure transport channel by providing only an encrypted HTTPS connection. You can check the status via our browser icon (usually a padlock icon).</p>
                        <p>All our hard drives are encrypted.</p>

                        <h3>Location</h3>
                        <p>Our server is located inside the EU. Implied rights and obligations of the General Data Protection Regulation (GDPR) apply here.</p>

                        <h3>Consent</h3>
                        <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

                        <hr>
                        <p>Current Status as of 19.11.2021. Changes are applied here.</p>
                    </div>
                </section>
            </div>
        </div>
        {% for service in service_list %}
            <div class="modal fade" id="modal-{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modal-{{ service.id }}">{{ service.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>{{ service.description|safe|linebreaksbr }}</p>
                    <div class="row">
                        <div class="col-md-6">
                            Registration is <span class="badge badge-{{  service.registration|yesno:"success,danger"  }}">{{  service.registration|yesno:"open,on request"  }}</span>
                        </div>
                        <div class="col-md-6">
                            Service status: <span class="badge badge-{{  service.status|yesno:"success,danger"  }}">{{  service.status|yesno:"running,stopped"  }}</span>
                        </div>
                    </div>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Portnumber</th>
                                <th>Protocol</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for port in service.serviceport_set.all %}
                            <tr>
                                <td>{{ port.number }}</td>
                                <td>{{ port.protocol }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Login:</td>
                            <td>{{ service.login }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    </div>
                    <div class="modal-footer">
                    <a href="{{ service.link }}" target="_self"><button type="button" class="btn btn-primary">Open</button></a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    <script>
        $(function () {
            // Javascript to enable link to tab
            var url = document.location.toString();
            if (url.match('#')) {
                $('#menu a[href="#' + url.split('#')[1] + '"]').tab('show');
            }

            // Change hash for page-reload
            $('#menu').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            })
        });
    </script>
{% endblock %}