{% load static %}
<html>
    <head>
        <title>Riotcat.org</title>
        <link rel="stylesheet" href="{% static 'web/css/bootstrap/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/fontawesome/all.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
        <script src="{% static 'web/js/jquery.js' %}"></script>
        <script src="{% static 'web/js/bootstrap.js' %}"></script>
        <link rel="icon" type="image/png" href="{% static 'web/img/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Riotcat.org">
        <meta name="twitter:title" content="Riotcat.org">

        <meta name="description" content="Riotcat.org is a hobby-based Project where we are trying to setup different opensource services and application for interacting with friends.">
        <meta property="og:description" content="Riotcat.org is a hobby-based Project where we are trying to setup different opensource services and application for interacting with friends.">
        <meta name="twitter:description" content="Riotcat.org is a hobby-based Project where we are trying to setup different opensource services and application for interacting with friends.">

        <meta property="og:image" content="{% static 'web/img/logo.png' %}">
        <meta name="twitter:image" content="{% static 'web/img/logo.png' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
